<ion-content>
  <div id="title">
    <div id="title-sub">Trường Đại học Đà Lạt</div>
    <div id="title-main">Chat Bot</div>
  </div>
  <div id="backTitle"></div>
  <div id="container">
    <div id="content-text">
      Bạn muốn tìm hiểu về 
      <span id="sp1">Trường Đại học Đà Lạt?</span>
      <div>
        Hãy đặt câu hỏi 
        <span id="sp2">trực tiếp</span> với 
        <span id="sp3">Nhà Trường!</span>
      </div>
    </div>
    <div id="btn-container">
      <button (click)="getStart()">Bắt đầu</button>
    </div>
  </div>
</ion-content>
