ion-content{
    --background: url('../../../../assets/icon/chat-bot/cb-1.png') no-repeat center center / cover;
    position: relative;
    #title{
        width: 100%;
        position: absolute;
        bottom: 50%;
        z-index: 1;
        text-align: center;
        #title-sub{
            width: 100%;
            color: white;
            font-size: 24px;
            font-family: "Montserrat Bold";
        }
        
        #title-main{
            width: 100%;
            color: white;
            font-size: 48px;
            font-family: "Montserrat Bold";
        }
    }
    #backTitle{
        background-color: black;
        opacity: 0.4;
        position: absolute;
        bottom: 44%;
        width: 100%;
        height: 158px;
    }
    #container{
        background-color: var(--ion-color-app-white);
        width: 100%;
        height: 50%;
        border-radius: 24px;
        position: absolute;
        bottom: 0;
        #content-text{
            font-size: 24px;
            text-align: center;
            position: absolute;
            bottom: 40%;
            padding-left: 12px;
            padding-right: 12px;
            #sp1{
                font-family: "Montserrat Bold";
                color: var(--ion-color-app-green-darker);
            }
            #sp2{
                color: var(--ion-color-app-orange-dark);
            }
            #sp3{
                color: var(--ion-color-app-green-darker);
            }
        }
        #btn-container{
            padding-left: 12px;
            padding-right: 12px;
            position: absolute;
            bottom: 12px;
            width: 100%;
            height: 64px;
            button{
                font-size: 24px;
                color: white;
                width: 100%;
                height: 64px;
                border-radius: 32px;
                background-color: var(--ion-color-app-green-darker);
                box-shadow: 4px 8px 8px #C1C1C1;
            }
        }
    }
}