<app-header-page pageTitle="{{groupName}}"></app-header-page>

<ion-content appParallaxHeader [scrollEvents]="true">
  <div class="cover" [style.background-image]="'url(' + imgBackground + ')'"></div>
  <div class="container">
    <div id="c-header">
      <!-- <img id="ch-back-image" src="{{imgBackground}}"> -->
      <!-- <div class="ch-back-image" [style.background-image]="'url(' + imgBackground + ')'"></div> -->
      <div id="ch-content">
        <div id="ch-c-title">
          <span id="ch-c-group-name">{{groupName}}</span>
          <span id="ch-c-description">Sĩ số: {{groupNumber}}</span>
          <img id="ch-c-more" src="{{imgMore}}">
        </div>
        <app-members-bar></app-members-bar>
      </div>
    </div>
    <app-to-create-post></app-to-create-post>
    <div id="c-content">
      <div id="group-hot">{{groupContentHot}}</div>
      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide id="group-follow-short-post" *ngFor="let card of [0,1,2,3,4,5,6]" >
          <ion-col>
            <app-short-post></app-short-post>
          </ion-col>
        </ion-slide>
      </ion-slides>
      <div id="group-follow">{{groupContent}}</div>
      <app-full-post></app-full-post>
      <app-full-post></app-full-post>
      <app-full-post></app-full-post>
    </div>
  </div>

</ion-content>

<ion-footer>
  <app-navigation-bar [location] = "3"></app-navigation-bar>
</ion-footer>