
<ion-content>
  <div style="text-align: left;margin-top:47px;margin-left:12px">
    <img  id="rh-back-btn" src="../../../assets/icon/login/back.png" alt="">
    <ion-text style="color: #237A73;margin-left:24px;font-size:23px;position:relative;bottom:5px;" color="primary">
      Quên mật khẩu
     </ion-text>

  </div>


  <ion-grid fixed style="padding-left:12px ;padding-right:12px;">
    <div style="margin-top:22px ;">
      <img  src="../../../assets/icon/login/DLU_connect.png" alt="" class="center">
    </div>

    <ion-row>
      <ion-col size="12" style="padding:0 ;">

      </ion-col>
      <ion-col size="12" style="padding:0 ;">
          <div style="margin-top:87px ;" >
            <ion-text style="font-size: small;color:#237A73;">
              Tài khoản bạn muốn khôi phục
            </ion-text>
          </div>
      </ion-col>
      <ion-col size="12" style="padding:0 ;">
        <div>
          <div id="name_display" > <ion-input type="text" placeholder="Email/MSSV"></ion-input></div>
        </div>
      </ion-col>

      <ion-col size="12" style="padding:0 ;">
        <div style="margin-top: 10px;" >
          <ion-text style="text-align: center;font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;" color="">
            <div id="contract">
              Chúng tôi sẽ gửi mã xác nhận qua email của bạn

            </div>
          </ion-text>
        </div>


      </ion-col>
      <ion-col size="12" style="padding:0 ;">
        <ion-text style="top: 5px;position: relative;margin-bottom: 96px;margin-left: 40px;font-size: 9.5px;text-align:center ;">
        </ion-text>
      </ion-col>
    </ion-row>
    <div id="div_btnSubmit">
      <ion-button id="btn_Submit" expand="block" fill="clear" shape="round">
        Tiếp tục
      </ion-button>
    </div>
  </ion-grid>
  <div  style="margin-left: 12px ; margin-right: 12px; ">

  </div>


</ion-content>




