<ion-header>
  <ion-toolbar>
    <ion-title>Thông báo</ion-title>
    <div id="notifcation-bar-search-btn">
      <img src="../../../assets/icon/main/search.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="nt-container">
    <div class="nt-title" id="nt-tt-nearly">Gần đây</div>
    <div id="nt-nearly-container">
      <app-notification-item ipTitle="CNTT" ipContent="Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam aliquam..." ipHours="1 hours ago" *ngFor="let item of [0,1,2,3,4]"></app-notification-item>
    </div>
    <div class="nt-title" id="nt-tt-later">Trước đó</div>
    <div id="nt-later-container">
      <app-notification-item ipTitle="CNTT" ipContent="Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam aliquam..." ipHours="1 hours ago" *ngFor="let item of [0,1,2,3,4]"></app-notification-item>
    </div>
  </div>

</ion-content>
<ion-footer>
  <app-navigation-bar [location]="1"></app-navigation-bar>
</ion-footer>
