<div id="nav-container">
  <ul id="nav-contents">
    <li><img id="ic-home" src="../../../assets/icon/navigation-bar/home.svg"></li>
    <li><img (click)="clickItem()" [ngStyle]="objActive" id="ic-notification" src="../../../assets/icon/navigation-bar/notification.svg"></li>
    <li><img id="ic-follow" src="../../../assets/icon/navigation-bar/follow.svg"></li>
    <li><img id="ic-group" src="../../../assets/icon/navigation-bar/group.svg"></li>
    <li><img id="ic-personal" src="../../../assets/icon/navigation-bar/person.svg"></li>
  </ul>
</div>
