<div id="full-post">
  <div id="fp-container">
    <div id="fp-header">
      <img id="fp-hd-userAvatar" src={{userAvatar}}>
      <span id="fp-user-name">{{userName}}</span>
      <span id="fp-time">{{time}}</span>
      <div id="fp-hd-options">
        <img src="{{otRemove}}">
        <img src="{{otMore}}">
      </div>
    </div>
    <div id="fp-body">
      <div id="fp-bd-text">
        <span id="fp-bd-text-title">{{textTitle}}</span>
        <span id="fp-bd-text-content">{{textContent}}<a>...Xem thêm</a></span>
      </div>
      <div id="fp-bd-image">
        <img src="{{image}}"/>
      </div>
    </div>
    <div id="fp-footer">
      <div id="fp-details">
        <span>{{numLike}}</span>
        <span>{{numComment}}</span>
        <span>{{numshare}}</span>
      </div>
      <div id="fp-controls">
        <div class="fp-ct-container">
          <img src="{{ctLike}}">
          <div>{{ctlbLike}}</div>
        </div> 
        <div class="fp-ct-container">
          <img src="{{ctComment}}">
          <div>{{ctlbComment}}</div>
        </div> 
        <div class="fp-ct-container">
          <img src="{{ctShare}}">
          <div>{{ctlbShare}}</div>
        </div> 
      </div>
    </div>
  </div>
</div>