  ion-content {
    --offset-bottom: auto !important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  
    background-color: var(--ion-color-app-white);

    .container{
      padding-left: 12px;
      padding-right: 12px;
        .title{
            font-size: 24px;
            font-family: 'Montserrat Bold';
            padding-top: 12px;
            padding-bottom: 12px;
        }
        #content-department{
            #ct-dep-title{
              padding-top: 0;
                color: var(--ion-color-app-orange-dark);
            }
        }
        #content-student{
            #ct-st-title{
                color: var(--ion-color-app-green-darker);
            }
        }

    }
}