#error-undefine{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 24px;
    #container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #title{
        padding-top: 12px;
        font-family: 'Montserrat Bold';
        color: var(--ion-color-app-orange-dark);
        font-size: 24px;
    }
    #description{
        color: var(--ion-color-app-gray-dark);
        font-size: 12px;
        a{
            color: var(--ion-color-app-green-light);
        }
    }
}