<ion-header>
  <ion-toolbar>
    <div id="tb-back" (click)="back()">
      <img src="../../../../assets/icon/main/back.png">
    </div>
    <ion-title>Quên mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentials">
    <div id="app-logo">
      <img src="../../../assets/icon/login/DLU_connect.png" alt="" class="center" />
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-text id="emr-title">
          Tài khoản bạn muốn khôi phục
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <div>
          <div id="name_display">
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          </div>
          <ion-note class="warring-input" *ngIf="(email.dirty || email.touched) && email.errors">
            <ion-icon name="alert-circle-outline"></ion-icon>
            Email không hợp lệ
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<footer>
  <div id="to-footer">
    <span id="text-guide">
      Chúng tôi sẽ gửi mã xác nhận qua email của bạn
    </span>

    <ion-note class="warring-input" *ngIf="isSend">
      Email đã được gửi, vui lòng vào mail để kiểm tra và thay đổi mật
      khẩu. Bạn có thể quay lại màn hình đăng nhập để đăng nhập
    </ion-note>

    <button (click)="submit()" id="btn_Submit" type="submit" expand="block" fill="clear" shape="round" [disabled]="!credentials.valid">
      Gửi Email
    </button>
  </div>
</footer>