ion-header::after {
  background-image: none;
}
ion-header {
  ion-toolbar {
    position: relative;
    width: 100%;
    padding-bottom: 8px;
    #tb-back {
      position: absolute;
      top: 20px;
      left: 12px;
      z-index: 1;
    }
    ion-title {
      padding-top: 8px;
      padding-left: 60px;
      font-size: 20px;
      font-family: "Montserrat Bold";
      color: var(--ion-color-app-green-darker);
    }
  }
}

ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-app-white);
}
.container{
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 100%;
}
form{
  padding-left: 12px;
  padding-right: 12px;
  ion-col{
    padding: 0;
  }
}

ion-input {
  font-size: 12px;
  ::placeholder{
    color: var(--ion-color-app-gray-light)
  }
}

#labelLogin {
  font-family: "Montserrat Bold";
  font-size: 24px;
  color: var(--ion-color-app-green-darker);
}

#name_display{
  width: 100%;
  border-radius: 24px;
  background-color: var(--ion-color-app-primary);
  height: 48px;
  padding-left: 8px;
  padding-right:12px;
  padding-top: 5px;
  margin-top: 8px;
}

#btn_Submit{
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: var(--ion-color-app-green-light);
  font-size: 12px;
  text-align: center;
  color: white;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.warring-input{
  font-size: 12px;
  color: var(--ion-color-app-orange-dark);
  padding-top: 4px;
  position: relative;
  padding-left:24px;
  ion-icon{
    position: absolute;
    top: 5px;
    left:8px;
  }
}

#app-logo{
  padding-top: 52px;
  padding-bottom: 52px;
}
#emr-title{
  font-size: 12px;
  color: var(--ion-color-app-green-darker);
}
#text-guide{
  font-size: 12px;
  color: var(--ion-color-app-green-darker);
  text-align: center;
  display: block;
  margin-bottom: 8px;
}
#to-footer{
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  background-color: var(--ion-color-app-white);
}