ion-input{
  // border-radius: 20px;
  // background-color: #E0E9E0;
  // text-align: left;
  height: 42px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color:#B3BAB3;
}

.padding-lr12px{
  padding-left: 12px;
  padding-right:12px;
}
#labelLogin{
margin-left: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #237A73;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#email_input{

  width: 100%;
  margin-top: 12px;
  border-radius: 20px;
  background-color: #E0E9E0;
  text-align: left;
  height: 52px;
}

#password_input{
  width: 100%;
  margin-top: 12px;
  border-radius: 20px;
  background-color: #E0E9E0;
  text-align: left;
  height: 54px;
}

#btn_login{
  width: 100%;
  margin-top: 12px;
  height: 53px;
  font-size: 13px;
  color: #FFFFFF;
  background: #70A8A4;
  border-radius: 30px;

}


#forgot_Password{
  width: 100%;
  margin-top: 20px;
  font-size: small;
  color:#70A8A4;
}

#suggest_register{
  width: 100%;
  margin-right: 62px;
  margin-left: 62px;
  font-size: 11px;
  text-align: center;
  position: relative;
  right: 60px;
  margin-bottom: 20px;
  top: 50px;
}

#div_btnRegis{
  margin-bottom: 24px;
  width: 100%;
  position: relative;
  height: 52px;
  background: #B2D1CE;
  border-radius: 30px;
  top: 50px;
}

#btn_Regis{

  width: 100%;
  font-size:smaller;
  text-align:center;
  position:relative;
  top:4px;
  color:#237A73;
}


