<ion-content>
  <div style="margin-top: 49px; margin-bottom: 69px">
    <img
      src="../../../assets/icon/login/DLU_connect.png"
      alt=""
      class="center"
    />
  </div>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-grid fixed style="padding-left: 12px; padding-right: 12px">
      <ion-row>
        <ion-col size="12" style="padding: 0" class="">
          <ion-text id="labelLogin" color="primary"> Đăng nhập </ion-text>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <div
            id="email_input"
            [ngStyle]="ngStyleEmailInput"
            class="padding-lr12px"
          >
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
              (input)="onInput()"
            ></ion-input>
          </div>
          <ion-note
            color="danger"
            *ngIf="(email.dirty || email.touched) && email.errors"
          >
            <ion-icon name="alert-circle-outline"></ion-icon>
            Email không hợp lệ
          </ion-note>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <div
            id="password_input"
            [ngStyle]="ngStylePasswordInput"
            class="padding-lr12px"
          >
            <ion-input
              type="password"
              placeholder="Mật khẩu"
              formControlName="password"
              (input)="onInput()"
            ></ion-input>
          </div>
          <ion-note
            color="danger"
            *ngIf="(password.dirty || password.touched) && password.errors"
          >
            <ion-icon name="alert-circle-outline"></ion-icon>
            Mật khẩu cần ít nhất 6 ký tự
          </ion-note>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <ion-button
            id="btn_login"
            type="submit"
            expand="block"
            fill="clear"
            shape="round"
            [disabled]="!credentials.valid"
          >
            Đăng nhập
          </ion-button>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <a id="forgot_Password" (click)="forgotPassword()">
            Quên mật khẩu ?
          </a>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <div style="text-align: center; margin-top: 20px">
            <ion-note color="danger" *ngIf="!success">
              <ion-icon name="alert-circle-outline"></ion-icon>
              Đăng nhập không thành công! Vui lòng kiểm tra lại email hoặc mật
              khẩu!
            </ion-note>
          </div>
        </ion-col>
      </ion-row>

      <div id="suggest_register">
        <ion-text color="black">
          Chưa có tài khoản? Đăng ký ngay bây giờ!
        </ion-text>
      </div>

      <div>
        <div id="div_btnRegis">
          <ion-button
            id="btn_Regis"
            (click)="register()"
            expand="block"
            fill="clear"
            shape="round"
          >
            Đăng ký
          </ion-button>
        </div>
      </div>
    </ion-grid>
  </form>
</ion-content>
