// $colors: var(--ion-color-app-green-dark),var(--ion-color-app-orange-dark), var(--ion-color-app-blue-dark), var(--ion-color-app-tea-dark);
// $cdark: nth($colors, random(length($colors)));
// $map-colors:(
//     var(--ion-color-app-green-dark): var(--ion-color-app-green-light),
//     var(--ion-color-app-orange-dark): var(--ion-color-app-orange-light),
//     var(--ion-color-app-blue-dark): var(--ion-color-app-blue-light),
//     var(--ion-color-app-tea-dark): var(--ion-color-app-tea-light),
// );
// $clight: map-get($map: $map-colors, $key: $cdark);
#hot-search{
    padding-bottom: 4px;
    #hot-search-container{
        width: 100%;
        height: 48px;
        background-color: var(--ion-color-app-orange-light);
        border-radius: 24px;
        padding-left: 48px;
        padding-right: 36px;
        padding-top: 4px;
        padding-bottom: 4px;
        position: relative;
        #hs-avatar{
            position: absolute;
            top: 4px;
            left: 4px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: var(--ion-color-app-orange-dark);
            padding-top: 6px;
            padding-left: 11px;
            span{
                font-size: 24px;
                color: var(--ion-color-app-white);
            }
        }
        #hs-content{
            
            #hs-c-title{
                display: block;
                font-size: 12px;
            }
            #hs-c-content{
                font-size: 8px;
                display: block;
            }
            #hs-c-more{
                font-size: 8px;
                color: var(--ion-color-app-gray-light);
            }
        }
        #hs-option{
            position: absolute;
            right:8px;
            top: 12px;
        }
    }
}