<div id="short-post">
  <div id="sp-container">
    <div id="sp-header">
      <img src={{userAvatar}}>
      <span id="sp-user-name">{{userName}}</span>
      <span id="sp-time">{{time}}</span>
    </div>
    <div id="sp-body">
      <div id="sp-bd-text">
        <span id="sp-bd-text-title">{{textTitle}}</span>
        <span id="sp-bd-text-content">{{textContent}}<a>...Xem thêm</a></span>
      </div>
      <div id="sp-bd-image">
        <img src="{{image}}"/>
      </div>
    </div>
  </div>
</div>
