<ion-header>
  <div style="text-align: left; margin-top: 30px; margin-left: 12px">
    <img
      (click)="back()"
      id="rh-back-btn"
      src="../../../assets/icon/login/back.png"
      alt=""
    />
    <img
      src="../../../assets/icon/login/DLU_connect.png"
      alt=""
      class="center"
    />
  </div>
</ion-header>
<ion-content>


  <form [formGroup]="credentials" (submit)="register()">
    <ion-grid
      fixed
      style="padding-left: 12px; padding-right: 12px; margin-top: 55px"
    >
      <ion-row>
        <ion-col size="12" style="padding: 0">
          <ion-text id="labelLogin" color="primary"> Đăng ký </ion-text>
        </ion-col>
        <ion-col size="12" style="padding: 0">
          <div id="email_input" class="padding-lr12px">
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
              (input)="onInput()"
            ></ion-input>
          </div>
          <ion-note
            color="danger"
            *ngIf="(email.dirty || email.touched) && email.errors"
          >
            <ion-icon name="alert-circle-outline"></ion-icon>
            Email không hợp lệ
          </ion-note>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <div id="password_input" class="padding-lr12px">
            <ion-input
              type="password"
              placeholder="Mật khẩu"
              formControlName="password"
              (input)="onInput()"
            ></ion-input>
          </div>
          <ion-note
            color="danger"
            *ngIf="(password.dirty || password.touched) && password.errors"
          >
            <ion-icon name="alert-circle-outline"></ion-icon>
            Mật khẩu cần ít nhất 6 ký tự
          </ion-note>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <div id="exact_password_input" class="padding-lr12px">
            <ion-input
              type="password"
              placeholder="Nhập lại mật khẩu"
              formControlName="confirmPassword"
              (input)="onInput()"
            ></ion-input>
          </div>
          <ion-note
            color="danger"
            *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.errors"
          >
            <ion-icon name="alert-circle-outline"></ion-icon>
            Mật khẩu xác nhận không đúng
          </ion-note>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <ion-text
            style="text-align: center; margin-top: 20px; font-size: 9.5px"
            color=""
          >
            <div id="contract">
              <p>
                Bằng việc đăng ký, bạn chấp nhận
                <a href="#">Điều khoản dịch vụ</a>
                và
                <a href="#">Chính Sách Bảo Mật</a>
                của chúng tôi.
              </p>
            </div>
          </ion-text>
        </ion-col>

        <ion-col size="12" style="padding: 0">
          <ion-note color="danger" *ngIf="!success">
            <ion-icon name="alert-circle-outline"></ion-icon>
            Đăng ký không thành công! Vui lòng kiểm tra lại email!
          </ion-note>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>
<ion-footer id="footer">
  <div id="div_btnSubmit">
    <ion-button
      id="btn_Submit"
      type="submit"
      expand="block"
      fill="clear"
      shape="round"
      [disabled]="!credentials.valid"
    >
      Tiếp tục
    </ion-button>
  </div>
</ion-footer>
