ion-input {
  // border-radius: 20px;
  // background-color: #E0E9E0;
  // text-align: left;
  height: 42px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #b3bab3;
}

#labelLogin {
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #237a73;
}

.rh-back-btn {
  margin: 0 auto;
  left: 70px;
  margin-top: 35px;
  margin-bottom: 10px;
  position: relative;
}

#labelRegis {
  margin-left: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #237a73;
}

#name_display {
  width: 100%;
  margin-top: 37px;
  border-radius: 20px;
  background-color: #e0e9e0;
  text-align: left;
  height: 52px;
  margin-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
}

#div_btnSubmit {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
  height: 52px;
  background: #b2d1ce;
  border-radius: 30px;
  top: 5px;
}

#btn_Submit {
  width: 100%;
  font-size: smaller;
  text-align: center;
  position: relative;
  top: 4px;
  color: #ffff;
}

#register-header {
  width: 100%;
  position: relative;

  #rh-back-btn {
    position: absolute;
    top: 7px;
    left: 12px;
  }
  #rh-logo {
  }
}

#contract {
  text-align: justify; /* For Edge */
  -moz-text-align-last: center; /* For Firefox prior 58.0 */
  text-align-last: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
  width: 128px;
  height: 128px;
}

#footer{
  
}
