<div id="container">
  <div id="description">
    <div id="avatar">
      <span>{{ftitle}}</span>
    </div>
    <div id="d-text">
      <span id="d-t-title">{{title}}</span>
      <span id="d-t-content">{{content}}</span>
    </div>
    <div id="options">
      <div id="ot-remove">
        <button>Gỡ thông báo này</button>
        <div class="ot-btn-img">
          <img src="{{imgOption1}}">
        </div>
      </div>
      <div id="ot-block">
        <button>Chặn thông báo từ nguồn này</button>
        <div class="ot-btn-img">
          <img src="{{imgOption2}}">
        </div>
      </div>
    </div>
  </div>
</div>
